@model RecruitingWeb.Models.EstadoNecesidadSelectViewModel

<div>
    @Edit.DropDownExtend("Preasignada", "selectEstado", Model.NecesidadPreasignadaOCerrada,id : "selectEstado", validate : false, required : false, showEmptyOption : false )
</div>
