@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "GenericError";
}
       




    <h5 style="color:red">  This is a 404 error page ! </h5>
    <p style="color:red">  This is a 404 error page ! </p>

