<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="Username" value="RecruitingCorreosUser"/>
    <add key="Password" value="Everis012018"/>
    <add key="rutaEverisEnviarCorreos" value="http://localhost:51040/api/EnviarCorreosApi"/>
    <!--<add key="rutaEverisEnviarCorreos" value="https://recruitingcenters.its.everis.com/api/EnviarCorreosApi"/>-->
    <!--<add key="rutaEverisEnviarCorreos" value="http://7.128.80.33:80/api/EnviarCorreosApi"/>-->
    <!--<add key="rutaEverisEnviarCorreos" value="http://localhost:80/api/EnviarCorreosApi"/>-->
  </appSettings>
</configuration>
