update CartaOferta set MotivoRechazoId = 1338 where MotivoRechazoId = 97
update CartaOferta set MotivoRechazoId = 1341 where MotivoRechazoId = 1168
update CartaOferta set MotivoRechazoId = 1340 where MotivoRechazoId = 102
update CartaOferta set MotivoRechazoId = 1344 where MotivoRechazoId in (1163, 1664, 1165, 1166, 1200, 1201, 1312)