@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h2><small>@Display.GlyphiconButton("glyphicon-wrench")&nbsp;&nbsp;En Construcci&oacute;n </small></h2>
</div>


<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-6">

                    <div class="panel panel-default">
                        <div class="panel-leftheading">
                            <h3 class="panel-lefttitle">Necesidades</h3>
                        </div>
                        <div class="panel-rightbody">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-leftheading">
                            <h3 class="panel-lefttitle">En 1º Entrevista</h3>
                        </div>
                        <div class="panel-rightbody">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-leftheading">
                            <h4 class="panel-lefttitle">Carta de Oferta</h4>
                        </div>
                        <div class="panel-rightbody">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-leftheading">
                            <h3 class="panel-lefttitle">Aceptados</h3>
                        </div>
                        <div class="panel-rightbody">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-6">

                    <div class="panel panel-default">
                        <div class="panel-leftheading">
                            <h3 class="panel-lefttitle">Necesidades</h3>
                        </div>
                        <div class="panel-rightbody">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-leftheading">
                            <h3 class="panel-lefttitle">Necesidades</h3>
                        </div>
                        <div class="panel-rightbody">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    @section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                var menuItemToSelect = $("#main-nav li a[data-option-name=Dashboard]");
                menuItemToSelect.addClass("current");
            });

        </script>
    }
