@using RecruitingWeb.Properties
@using Recruiting.Application.Candidaturas.Enums;

@model Recruiting.Application.Candidaturas.ViewModel.CompletarCartaOfertaViewModel

@if (Model.EntregaCartaOfertaViewModel != null && Model.EntregaCartaOfertaViewModel.AgendarCartaOfertaViewModel != null &&
    Model.EntregaCartaOfertaViewModel.AgendarCartaOfertaViewModel.AgendarCartaOferta != null)
{    
    <div class="row">
        <div class="content-box">
            <div class="content-box-content">
                <div class="row section-header">
                    <div class="col-lg-6">
                        <h4>@Resources.HTML_Candidaturas_CompletarCartaOferta_DatosCartaOferta</h4>
                    </div>
                </div>
                <div class="content-box-content">
                    <div class="section-form-cartaOferta" data-id="section-form-cartaOferta">
                        @Html.Partial("~/Views/Candidaturas/Partials/Details/CartaOferta/_DatosCartaOfertaDetails.cshtml", Model.EntregaCartaOfertaViewModel.AgendarCartaOfertaViewModel.AgendarCartaOferta)
                        @if (Model.EntregaCartaOfertaViewModel.EntregaCartaOferta != null)
                        {
                            @Html.Partial("~/Views/Candidaturas/Partials/Details/CartaOferta/_EntregaCartaOfertaDetails.cshtml", Model.EntregaCartaOfertaViewModel.EntregaCartaOferta)
                        }
                        @if (Model.CompletarCartaOferta != null)                           
                        {
                            @Html.Partial("~/Views/Candidaturas/Partials/Details/CartaOferta/_CompletarCartaOfertaDetails.cshtml", Model.CompletarCartaOferta)
                        }
                    </div>
                </div>                
            </div> <!-- End content-box-content -->
        </div> <!-- End .content-box -->
    </div> <!--End .Row-->   
}

