@using Recruiting.Application.Candidatos.ViewModels
@using Recruiting.Application.Necesidades.ViewModels

@model Recruiting.Application.Necesidades.ViewModels.NecesidadRowViewModel

<div>
    @Edit.Hidden(@Model.Nombre , "Nombre",new Dictionary<string, string> { {"id","Nombre" } })
    @Edit.Text(Model.NecesidadId.ToString(), "NecesidadId", id: "NecesidadId", htmlClass: "form-control hide")
    <div class="text-center">
        @Edit.RadioButton(Model.NecesidadId.ToString(), "SelectNecesidades", id: "SelectNecesidades")
    </div>
</div>
