@using RecruitingWeb.Properties

@model Recruiting.Application.Candidaturas.ViewModel.RangoSalarialesyDisponibilidades
@{    
    var expRegularDecimal = System.Configuration.ConfigurationManager.AppSettings["expRegularDecimal"];


}

<div class="row form-row">
    <div class="form-group col-lg-8">
        <div class="col-lg-12 title-form">
            <label for="ObservacionesEntrevista">@Resources.HTML_Candidaturas_ObservacionesEntrevista_Observaciones</label>
        </div>
        <div class="col-lg-12">            
            @Edit.TextAreaEditor(Model.ObservacionesEntrevista, Model.AccessRango + "ObservacionesEntrevista", id: "ObservacionesEntrevista-" , rows: 8, required: false, htmlClass: "form-control")
        </div>
    </div>
</div>


