@{ 
    var currentUrl = Request.RawUrl;
    var swaggerUrl = currentUrl + "Swagger";
}
<div>
    <p class="lead"> </p>
    <div class="lead title">
        Everis User Validator is running.
    </div>
    <div class="content">
        <p>In order to see Swagger documentation for the api click <a href="@swaggerUrl">here</a></p>
    </div>
</div>
