<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="DiccEstadoCandidaturaPlantillaCorreo" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="DiccEstadoBecarioPlantillaCorreo" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="DiccionarioFinalizarFeedback" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="DiccAvisoEntrevistaProgramada" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="DiccConfiguracionServidorCorreo" type="System.Configuration.NameValueFileSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <!--Descomentar lo siguiente para activar el multi-idioma-->
  <!--<system.web> 
      <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true"/>
   </system.web>-->
  <!--las plantillas de correo que se envian para el estado de la candidatura-->
  <DiccEstadoCandidaturaPlantillaCorreo>
    <add key="Stand-by" value="CorreoBacklog" />
    <add key="Backlog Entrevista" value="CorreoBacklog" />
    <add key="Descartado" value="CorreoDescartado" />
  </DiccEstadoCandidaturaPlantillaCorreo>
  <DiccionarioFinalizarFeedback>
    <add key="Entrevista" value="FinalizarFeedbackEntrevista"/>
  </DiccionarioFinalizarFeedback>
  <DiccAvisoEntrevistaProgramada>
    <!--para los entrevistadores-->
    <add key="Entrevista" value="AvisoEntrevista" />
    <add key="Entrevista Complementaria" value="AvisoEntrevista" />
    <add key="Carta Oferta" value="AvisoEntrevista" />
  </DiccAvisoEntrevistaProgramada>
  <DiccEstadoBecarioPlantillaCorreo>
    <add key="Descartado" value="DescarteBecaInterna" />
  </DiccEstadoBecarioPlantillaCorreo>
  <!--la configuaracion del servidor de correo-->
  <DiccConfiguracionServidorCorreo>
    <add key="Port" value="25" />
    <add key="Host" value="10.108.22.43" />
    <add key="UseDefaultCredentials" value="true" />
    <add key="NetworkCredential_User" value="" />
    <add key="NetworkCredential_Password" value="" />
    <add key="EnableSsl" value="false" />
    <add key="imagenLogo" value="CabeceraPlantillaCorreo.png" />
    <add key="imagenFirma" value="logo_everis.png" />
  </DiccConfiguracionServidorCorreo>
  <connectionStrings>
    <add name="EverisRecruiting" connectionString="Data Source=localhost\SQLEXPRESS;initial catalog=EverisRecruiting2;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="EverisRecruiting" connectionString="Data Source=localhost\SQLEXPRESS;initial catalog=EverisRecruiting;Trusted_Connection=Yes;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="EverisRecruiting" connectionString="Data Source=7.128.80.33;initial catalog=EverisRecruiting;User Id=sa;Password=Temporal01;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="EverisRecruiting" connectionString="Data Source=7.128.80.33;initial catalog=EverisRecruiting_Test;User Id=sa;Password=Temporal01;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <add name="Fenix" connectionString="Data Source=10.109.54.149:1524/FENIX;User Id={0};Password={1}" providerName="Oracle.DataAccess.Client" />
    <add name="ADConnectionString" connectionString="LDAP://SSVQ01PADDC01.usersad.everis.int:389/DC=usersad,DC=everis,DC=int" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="expRegularDecimal" value="^(\d|-)?(\d|.)*\,?\d*€" />-->
    <add key="expRegularDecimal" value="([0-9]{0,3}(\.[0-9]{3})*(\,[0-9]+)?)" />
    <add key="rutaCV" value="C:\CandidaturaCV\" />
    <add key="rutaCVBecarios" value="C:\BecarioCV\" />
    <add key="rutaAnexoBecarios" value="C:\BecarioAnexo\" />
    <add key="numeroMaximoSubEntrevistas" value="5" />
    <add key="rutaEverisValidateUser" value="http://10.125.104.99:83/ValidateUser" />
    <add key="tiempoExpiracion" value="1" />
    <add key="userNameCorreo" value="RecruitingCorreosUser" />
    <add key="passwordCorreo" value="Everis012018" />
    <add key="correoUserId" value="4" />
    <add key="diasAviso" value="2" />
    <add key="userNameOtherInfo" value="OtherInfoUserino"/>
    <add key="passwordOtherInfo" value="Everis2018"/>
    <add key="userNameDatosCandidatoApi" value="DatosCandidatoUser"/>
    <add key="passwordDatosCandidatoApi" value="Everis2018"/>
    <!--Produccion-->
    <!--<add key="diasAviso" value="1" />-->
    <!--Pruebas-->
    <add key="usernameApiGraph" value="RecruitingUser" />
    <add key="passwordApiGraph" value="Everis2018" />
  </appSettings>
  <system.web>
    <pages validateRequest="false" />
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms name=".ADAuthCookie" loginUrl="~/Account/Login" timeout="45" slidingExpiration="false" protection="All" />
    </authentication>
    <membership defaultProvider="ADMembershipProvider">
      <providers>
        <clear />
        <add name="ADMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider,                   System.Web, Version=2.0.0.0,                   Culture=neutral,                   PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="ADConnectionString" attributeMapUsername="sAMAccountName" />
      </providers>
    </membership>
    <!--<roleManager defaultProvider="SqlProvider"
       enabled="true"
       cacheRolesInCookie="true"
       cookieName=".ASPROLES"
       cookieTimeout="30"
       cookiePath="/"
       cookieRequireSSL="false"
       cookieSlidingExpiration="true"
       cookieProtection="Encryption">

      <providers>
        <clear/>
        <add
          name="CustomRoleProviderService"
          type="Recruiting.Business.RoleSecurity.CustomRoleProviderService"
          connectionStringName="SqlServices"
          applicationName="MyApplication" />
      </providers>
    </roleManager>-->
    <!--<roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider"
           type="System.Web.Security.SqlRoleProvider"
           connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider"
           type="System.Web.Security.WindowsTokenRoleProvider"
           applicationName="/" />
      </providers>
    </roleManager>-->
    <roleManager enabled="true" defaultProvider="RolService">
      <providers>
        <clear />
        <add name="RolService" type="Recruiting.Application.Roles.Services.RolService" connectionStringName="EverisRecruiting" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" writeExceptionsToEventLog="false" />
      </providers>
    </roleManager>
    <customErrors mode="On" defaultRedirect="~/GenericError.cshtml">
      <error redirect="~/Error/GenericError.cshtml" statusCode="404" />
      <error redirect="~/Error/GenericError.cshtml" statusCode="500" />
    </customErrors>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: 7986448E-47F3-4E0E-BAB0-BA2F1CDD08F4-->